bin
__pycache__
*.pyc
*.d
*.o
*.ko
*.obj
*.elf
*.ghc
*.pch
*.lib
*.a
*.la
*.lo
*.out
*.hex
*.dSYM/
*.su
tags
build
CMakeCache.txt
CMakeFiles
CMakeScripts
.ccls
tts-cli
cmake_install.cmake
install_manifest.txt
build
prof_output
tts
test
compile_commands.json
certs/
perf.txt
